* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}

:root{
    --navy-blue: #0d1333;
    --powder-blue: #b4c5e4;
	--grey: #3c3744;
    --white: white;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --purple:#9457EB;
    --pink:#DF00FF;
}

body {
    height: 100vh;
    background-color: var(--white);
}

.container {
    text-align: center;
    padding: 5em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: .1em;
    gap: 2em;

}
.row{
   border: 1px solid var(--navy-blue); 
   height: 80vh;
   padding: 30px;
   border-radius: 20px;
   
}

h1 {
    padding-top: 20px;
    font-family: helvetica;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;

}
textarea{
    border: 1px solid var(--powder-blue);
    border-radius: 10px;

    &::placeholder{
        color: var(--navy-blue);
        font-size: 1rem;
        /* padding: 20px; */
    }

}

.file-input {
    margin-bottom: 20px;
    margin-top: 20px;
}
.choose{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #5a67d8;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    text-align: center
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 30px;
    border: 1px solid var(--white);
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    color: var(--white);
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #434190;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

img {
    margin-top: 10px;
}
